<% if notice %>
  <aside id='notice'><%= notice %></aside>
<% end %>

<h1>Músicas para agora</h1>

<ul class='musicas'>
  <% @musicas.each do |musica| %>
    <li>
      <h2><%= musica.titulo %></h2>
      <div class='musico'>
        <%= musica.musico %>
      </div>
      <p>
        <%= musica.temas %>
      </p>
    </li>
  <% end %>
</ul>
